<?xml version="1.0" encoding="utf8" ?>
<config>
	<fieldset
		name="items"
		label="COM_JEXPRICELIST_CONFIG_ITEMS_SETTINGS_LABEL"
		description="COM_JEXPRICELIST_CONFIG_COUNTRY_SETTINGS_DESC"	
	>		
		<field
				addfieldpath="/administrator/components/com_jexpricelist/models/fields"
				name="valuta"
				type="jexvaluta"
				label="COM_JEXPRICELIST_FIELD_VALUTA_TITLE"
				description="COM_JEXPRICELIST_FIELD_VALUTA_DESC"
				default="1"
				component="com_jexpricelist"
		/>
	</fieldset>	
</config>